@media screen and (max-width:2000px){
	#principal {
		
		width:1600px;
		height:1050px;
		position:relative;
		border:1px solid #000;
		margin:auto;
	}
	
	body{
			margin: 0px;
			background: linear-gradient(white, #D3D8E8);
				
			/*background: url("../img/desaparecidas.jpg") no-repeat;
			
			width: 100%;
			height: 100%;
			position: center;*/

			/*border-bottom: 1px solid #133783;*/
			}
	
		#imagemperfil{ /*Div para alterar o tamanho da imagemd e perfil*/
		width:820px;
		height:50px;
		border:1px solid;
		background-color:white;
		margin-left: 400px;
		margin-top: 30px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
	}
		#logo{
			width:80px;
			height:25px;
			border:0px solid;
			margin-left:2px;
			margin-top:10px;
			
			
		}
	
		#desaparecidos {/*Div para alterar o tamanho da foto de desaparecido*/
		width:820px;
		height:900px;
		border:1px solid;	
		margin-left: 400px;
		margin-top: 10px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
		background-color:white;
		margin
	}




ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration:none;
}

/* contents */
.contents {
    display: table;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    background: #f6bc60;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.8);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.contents__inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.contents__inner h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 40px;
    font-family: Futura, "Century Gothic", "helvetica neue", arial, sans-serif !important;
    font-style: italic;
}

.contents__inner p {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

.contents__inner p span {
    border-bottom: 1px solid #fff;
}

/* drawer menu */
.drawer-menu {
    box-sizing: border-box;
	position:absolute;
    top: 30px;
    right: 378px;
    width: 300px;
    height: 963px;
    padding: 120px 0;
    background: #222;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: perspective(500px) rotateY(-90deg);
    transform: perspective(500px) rotateY(-90deg);
    opacity: 0;
	text-decoration:underline;
}

.drawer-menu li {
    text-align: center;
}

.drawer-menu li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.drawer-menu li a:hover {
    color: #1a1e24;
    background: #fff;
}

/* checkbox */
.check {
    display: none;
}

/* menu button - label tag */
.menu-btn {
	position:relative;
    display: block;
    top: 0px;
    left:770;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 2px;
    background: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

.bar.middle {
    top: 15px;
    opacity: 1;
}

.bar.bottom {
    top: 30px;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
}



.menu-btn .bar {
    background: black;
}

.menu-btn:hover .menu-btn__text {
    color: #999;
}

.close-menu {
    position: fixed;
    top: 0;
    right: 300px;
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0);
    cursor: url(http://theorthodoxworks.com/demo/images/cross.svg),auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
	text-decoration:none;
}

/* checked */
.check:checked ~ .drawer-menu {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    z-index: 2;
}



.check:checked ~ .menu-btn .bar.top {
    width: 43px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
    opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
    width: 43px;
    top: 30px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}








		img.logoL{
		width: 110px; 
		height: 80px; 
		display: block;
		margin-left: 5px;
		margin-right: auto;
		margin-top:-25;
	}
		input.cadnome{
		font-size: 16px;
		background: #fafafa;
		border: 1px solid #e6ecf0;
		-webkit-box-flex: 1;
		margin-top: -10px;
		padding: 7px 0 4px 6px;
		border-radius: 3px;
		box-sizing: border-box;	
		color: #005497;
		font: verdana;
	}
		input.masculino{
		margin-left:-220px;
	}
		input.feminino{
		margin-left:-227.5px;
	}
		input.outro{
		margin-left:-250px;
	}
		input.cadbo{
		font-size: 16px;
		background: #fafafa;
		border: 1px solid #e6ecf0;
		-webkit-box-flex: 1;
		margin-top: -10px;
		padding: 7px 0 4px 6px;
		border-radius: 3px;
		box-sizing: border-box;	
		color: #005497;
		font: verdana;
		margin-top:-71px;
		margin-left:170px;
	}

		input.foto{
			
		margin-left:200px;
		margin-top:-36px;
		}
		.foto{
			margin-left:1%;
		}
		.foto1{
			margin-left:1%px;
		}
		button.butCadastrar{
		border: 1px solid transparent;
		background-color: #3897f0;
		/*margin-left: 36%;*/
		margin-top: 10px;
		border-radius: 4px;
		font: inherit;
		color: white;
		cursor: pointer;
		padding: 6px 50px;
	}
		input.butReset{
		border: 1px solid transparent;
		background-color: #3897f0;
		/*margin-left: 36%;*/
		margin-top: 10px;
		border-radius: 4px;
		font: inherit;
		color: white;
		cursor: pointer;
		padding: 6px 50px;
	}
}
@media screen and (max-width:1100px){
	#principal{
		
		width:820px;
		height:1200px;
		position:relative;
		border:1px solid #000;
		margin:auto;
	}
	#imagemperfil{ /*Div para alterar o tamanho da imagemd e perfil*/
		width:780px;
		height:50px;
		border:1px solid;
		background-color:white;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
	}
	#desaparecidos {/*Div para alterar o tamanho da foto de desaparecido*/
		width:780px;
		height:1110px;
		border:1px solid;	
		margin-left: 15px;
		margin-top: 10px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
		background-color:white;
		margin
	}
	.menu-btn {
	position:relative;
    display: block;
    top: 0px;
    left:730;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}
	.drawer-menu {
    box-sizing: border-box;
	position:absolute;
    top: 12px;
    right: 25px;
    width: 300px;
    height: 1170px;
    padding: 120px 0;
    background: #222;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: perspective(500px) rotateY(-90deg);
    transform: perspective(500px) rotateY(-90deg);
    opacity: 0;
}
}
@media screen and (max-width:770px){
	#principal{
		
		width:550px;
		height:2000px;
		position:relative;
		border:1px solid #000;
		margin:auto;
	}
	#imagemperfil{ /*Div para alterar o tamanho da imagemd e perfil*/
		width:520px;
		height:50px;
		border:1px solid;
		background-color:white;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
	}
	#desaparecidos {/*Div para alterar o tamanho da foto de desaparecido*/
		width:520px;
		height:900px;
		border:1px solid;	
		margin-left: 15px;
		margin-top: 10px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
		background-color:white;
		margin
	}
	.menu-btn {
	position:relative;
    display: block;
    top: 0px;
    left:470;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}
	.drawer-menu {
    box-sizing: border-box;
	position:absolute;
    top: 10px;
    right: 13px;
    width: 300px;
    height: 963px;
    padding: 120px 0;
    background: #222;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: perspective(500px) rotateY(-90deg);
    transform: perspective(500px) rotateY(-90deg);
    opacity: 0;
}
	
	
}
@media screen and (max-width:500px){

	#principal{
		
		width:420px;
		height:1000px;
		position:relative;
		border:1px solid #000;
		margin:auto;
	}
	#imagemperfil{ /*Div para alterar o tamanho da imagemd e perfil*/
		width:380px;
		height:50px;
		border:1px solid;
		background-color:white;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
	}
	#desaparecidos {/*Div para alterar o tamanho da foto de desaparecido*/
		width:380px;
		height:900px;
		border:1px solid;	
		margin-left: 15px;
		margin-top: 10px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
		background-color:white;
		margin
	}
	.menu-btn {
	position:relative;
    display: block;
    top: 0px;
    left:325;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}
	.drawer-menu {
    box-sizing: border-box;
	position:absolute;
    top: 10px;
    right: 23px;
    width: 300px;
    height: 963px;
    padding: 120px 0;
    background: #222;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: perspective(500px) rotateY(-90deg);
    transform: perspective(500px) rotateY(-90deg);
    opacity: 0;
}
}
@media screen and (max-width:400px){
#principal{
		
		width:320px;
		height:1050px;
		position:relative;
		border:1px solid #000;
		margin:auto;
	}
	#imagemperfil{ /*Div para alterar o tamanho da imagemd e perfil*/
		width:290px;
		height:50px;
		border:1px solid;
		background-color:white;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
	}
	
	#desaparecidos {/*Div para alterar o tamanho da foto de desaparecido*/
		width:290px;
		height:970px;
		border:1px solid;	
		margin-left: 15px;
		margin-top: 10px;
		border-radius: 4px;
		border:1px solid #DCDCDC;
		background-color:white;
		margin
	}
	.menu-btn {
	position:relative;
    display: block;
    top: 0px;
    left:240;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}
	.drawer-menu {
    box-sizing: border-box;
	position:absolute;
    top: 10px;
    right: 15px;
    width: 287px;
    height: 1032px;
    padding: 120px 0;
    background: #222;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: perspective(500px) rotateY(-90deg);
    transform: perspective(500px) rotateY(-90deg);
    opacity: 0;
}
	img.logoL{
		width: 110px; 
		height: 80px; 
		display: block;
		margin-left: 5px;
		margin-right: auto;
		margin-top:-25;
	}
		input.cadnome{
		font-size: 16px;
		background: #fafafa;
		border: 1px solid #e6ecf0;
		-webkit-box-flex: 1;
		margin-top: -10px;
		padding: 7px 0 4px 6px;
		border-radius: 3px;
		box-sizing: border-box;	
		color: #005497;
		font: verdana;
	}
		input.masculino{
		margin-left:-200px;
	}
		input.feminino{
		margin-left:-207.5px;
	}
		input.outro{
		margin-left:-78%;
	}
		input.cadbo{
		font-size: 16px;
		background: #fafafa;
		border: 1px solid #e6ecf0;
		-webkit-box-flex: 1;
		margin-top: -10px;
		padding: 7px 0 4px 6px;
		border-radius: 3px;
		box-sizing: border-box;	
		color: #005497;
		font: verdana;
		margin-top:-71px;
		margin-left:100px;
	}

		input.foto{
			
		margin-left:200px;
		margin-top:-36px;
		}
		.foto{
			margin-left:1%;
		}
		.foto1{
			margin-left:1%px;
		}
		button.butCadastrar{
		border: 1px solid transparent;
		background-color: #3897f0;
		/*margin-left: 36%;*/
		margin-top: 10px;
		border-radius: 4px;
		font: inherit;
		color: white;
		cursor: pointer;
		padding: 6px 50px;
	}
		input.butReset{
		border: 1px solid transparent;
		background-color: #3897f0;
		/*margin-left: 36%;*/
		margin-top: 10px;
		border-radius: 4px;
		font: inherit;
		color: white;
		cursor: pointer;
		padding: 6px 50px;
	}
}